* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.services__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
  font-family: 'TT Lakes', sans-serif;
  padding: 0 18px 16px 14px;
}

.services__read-more {
  margin: 16px;
 position: relative;
}
.services__read-more_img {
  position: absolute;
  left: 0px;

}

.services__read-more_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
  font-family: 'TT Lakes', sans-serif;
  margin-left: 16px;
}
.services__Big-logo_img  img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.services__Big-logo_img {
  margin-bottom: 24px;

}
.swiper-wrapper{
  position: relative;
}

.shadow{
  width: 24px;
  height: 81px;
/* border: 0px solid #979797; */
background: linear-gradient(270deg, #f8f8f8 0.04%, rgba(248, 248, 248, 0) 100%);
position: absolute;
right: 0;
bottom: 0;
top: 0;
}
.swiper{
  position: relative;
 
}

.accordion{
  border: none;
  outline: none;
  transition: 0.8s;
}

.panel {
  display: none;
  overflow: hidden;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
  font-family: 'TT Lakes', sans-serif;
  margin-top: 15px;
}




.repair__brands-title{
  font-family: 'TT Lakes', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7e7e82;
margin: 40px 16px 0px ;
}




.repair__brands{
  margin:24px 0 24px 0;
  
}
.repair__brands-card_brands{
  border: 1px solid #eaeaea;
  border-radius: 6px;
  width: 240px;
  height: 72px;
  margin:32px 23px 36px 16px;
}
.card_brands_item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 9px 16px 23px;

}
:root {
  --swiper-theme-color:  #b5b6bc;
}
.swiper-pagination-bullet {
  background: #ddd;

}



@media (max-width: 768px),(max-width: 900px){


  .header__menu{
    display: block;
    
  }
  .feedback{
    display: flex;
    justify-content: flex-end;
    
   
  }
  .d-none{
    display: none;
  }
  .d-block{
    display: block;
  }
  

}





@media (max-width: 768px),(max-width: 900px) {
  .services{
    margin-bottom: -60px;
  }
  .services__desc{
    display: flex;
  }
  .services__text{
    width: 312px;
    height: 160px;
  }
  .services__img img{
    width: 360px;
    height: 208;
    margin-left:47px ;
  }
  .services__read-more{
    top: -80px;
  }

  .services__read-more_img {
    top: 6px;
}
.panel{
  width: 312px;
}
.panel-2{
  width: auto;
  margin-top: -15px;
}

  .services__Big-logo_img{
    display: none;
  }
   .swiper-2{
    display: none;
   }

   .services__read-more-2{
    top: 0;
   }
.brands-card-2{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 22px 75px 14px -46px;
}
.repair__brands-card_brands-2{
  width: 224px;
  height: 72px;
  margin: 11px 41px 6px 55px;
}



  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 3;
}
.overlay_active{
  display: flex;
}
 
  .d-block{
    display: inline;
  }
  .dop-menu{
    margin-top:19px;
  }
  .dop-menu .stick{
    margin: 10px;
  }
  .stick-2{
    margin: 5px 20px 28px 20px;
  }
  
  .header__menu {
    /* max-width: 320px; */
    height: 88px;
    display: flex;
    justify-content: space-around;
    margin: 18px -16px 18px 56px;
  }
 
  li.menu__item{
    margin-top: 10px;
    padding-bottom: 24px;
  }
  
  .menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    background: #fff;;
    justify-content: center;
    align-items: left;
    z-index: 2;
    padding: 0;
  
  }
 /* .image1{
  position: relative;
  right: 450px;
 } */
  /* .menu_active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500%; 
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 

  
  } */


  .menu_active {
    left: 0;
   display: flex;
   /* opacity: 1; */
  }
  .search-2{
      position: absolute;
  top: 16px;
  right: 116px;
  }

 
  .menu__item  a{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    font-family: 'TT Lakes', sans-serif;
    padding-left: 0; 
    display: block;
    position: relative;
    padding-left: 20px;
  }

.menu__item:hover::before {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50px;
  width: 4px;
   height: 40px;
  background-color: #41f6d7;
  margin-bottom: 150px;
  color: #7e7e82;
}
  .hamburger {
    display: flex;
    position: absolute;
    /* right: 0px; */
    top: 24px;
    transform: translateY(-50%);
    /* width: 127px; */
    height: 12px;
    left: 5px;
    align-items: center;
    z-index: 3;
  }
  .hamburger_wrapper{
    background: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 24px;
    margin-left: 12px;
   
  }
  .hamburger span {
    
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    transition: 0.5s all;
   display: flex;
    left: 11px;
    position: relative; 
    bottom: 2px;
    
  }   
  .hamburger span:nth-child(1){
    border-radius: 1px;
    width: 18px;
  }.hamburger span:nth-child(2){
    border-radius: 1px;
    width: 10px;
  }.hamburger span:nth-child(3){
    border-radius: 1px;
    width: 14px;
    height: 2px;
  }
  
  .hamburger_active span {
    margin-bottom: -2px;
    position: absolute;
    left: 20px;
    top: 13px;
  }
  .hamburger_active span:nth-child(1) {
    width: 22px;
    height: 2px;
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    width: 22px;
    height: 2px;
    transform: translateY(3px) rotate(45deg);
  }
  .contacts{
    display: flex;
    align-items: flex-start;
  }
  .contacts__item{
    margin-right: 16px;
    
  }
  .contacts .contacts__item:nth-child(1){
    padding-left: 24px;
  }
  .conanact_num{
    padding: 16px 0 0 24px;
  }
  .mail{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    font-family: "TT Lakes", sans-serif;
  }
  .number {
    font-weight: 700;
font-size: 24px;
line-height: 133%;
letter-spacing: -0.03em;
color: #1b1c21;
font-family: "TT Lakes", sans-serif;
padding-top: 12px;
  }
  .lang ul li{
    display: inline;
    padding-top:14px;
    font-family: "TT Lakes", sans-serif;
  }
  .lang ul li:hover{
    display: inline;
    padding-top:10px;
    color: #7e7e82;
  }
  .menu-320{
    display: none;
  }
  .logo-768{
    left: 104px;
    top: 14px;
    /* margin-right: 69px; */
    position: absolute;
  }
  .stick-4{
    position: absolute;
    left: 80px;
    top: 21px;
  }
}


@media (max-width: 575px) {
  li.menu__item{
    margin-top: 10px;
    padding-bottom: 24px;
  }
  .feedback{
    display: none;
  }
  .menu-320{
    display: flex;
  }
  .services{
    margin-bottom: 0;
  }
  .brands-card-2{
    display: none;
  }
  .services_additional-text{
    display: none;
  }
  .services__img {
    display: none;
  }
  .services__Big-logo_img{
    display: flex;
    margin-top: -65px;
  }
  .services__read-more-2{
    display: none;
  }
  .swiper-2{
    display: flex;
  }
}
@media (max-width: 320px), (max-width: 375px), (max-width: 414px),(max-width: 450px) {
  .services{
    margin-bottom: 0;
  }
  .brands-card-2{
    display: none;
  }
  .services_additional-text{
    display: none;
  }
  .services__img {
    display: none;
  }
  .services__Big-logo_img{
    display: flex;
    margin-top: -65px;
  }
  .services__read-more-2{
    display: none;
  }
  .swiper-2{
    display: flex;
  }
  .menu-320{
    display: flex;
    margin-right: 20px;
   
  }
.icon-1{
  margin: 0 8px 0 90px;
}
 .stick-3{
  margin: 8px 118px;
 }
  .feedback{
    display: none;
  }
  .search-2{
    right: 20px;
  }
  .logo,.stick{
    display: inline;
    position: absolute;
    left: 70px;
    top: 13px;
  }
  .d-block{
    display: none;
  }
 
  li.menu__item{
    margin-top: 10px;
    padding-bottom: 24px;
  }
  .menu {
    width: 100%;
  }
  .menu__item a {
    font-size: 15px;
  }

 
}



.stick {
  border-radius: 1px;
  width: 2px;
  height: 32px;
  background: #eaeaea;
}


.services__title {
  width: 304px;
  height: 40px;
  display: flex;
  position: relative;
}
.services_text {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1b1c21;
  padding-left: 12px;
  margin: 28px 0 0 0 0;
}
.services__higlite {
  position: absolute;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 24px 0 24px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #7e7e82;
}
.text{
  padding: 8px 9px 8px 16px;
}
.text:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 8px 20px 8px 20px;

 

}

@media (max-width: 320px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

